body {
	background-image: url("bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

h1 {
	font-family: georgia helvetica arial;
	font-size: 18px;
	text-align: center;
	padding-top: 5px;
}

.modal {

  display:block;
  opacity: 0.8;
}

.modal-content {
    height: 85%;
	background: #5d6166;
	color: white;
}

.modal-body {
    height: 70%;
	
}

.modal-footer {
    margin-bottom: 100%;
	height:8%;
	background: white;
}

button {
	width: 100%;
}


.fpass {
	background:#bc3239;
	opacity:0.7;
}

.column {
    float: left;
	margin-top: -15px;
	padding-left:10px;
	max-height: 100%;
	text-align:center;
}

.pic {
	width:100%;
	padding-top: 15px;
}

.center {
    margin: auto;
    width: 40%;
}

.words {
    margin: auto;
    width: 90%;
}

.left {
  max-width: 50%;
  max-height: 109%;
}

.right {
  width: 50%;
  max-height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.radio
{
	margin-top: 10px;
}
input[type=text], input[type=password], input[type=password], input[type=email], input[type=number]{
	width: 100%;
	height: 35px;
	padding-left: 5px;
	color: black;
}
.robot
{
	padding-left:63px;
}

.rectangle {
	border: 1px solid #d87e11;
	color: white;
	width: 110%;
	height: 35px;
	
}

a{
	text-decoration: none;
	color: black;
	font-size: 200%;
	padding: 8px;
}

a:hover {
   	text-decoration: none;
	color: white;
}

button:hover, a:hover{
	 box-shadow: 0px 3px white;
}